name: Build on Pull Request

on:
    pull_request:
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build Docker image for PR
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./DELIGHT/Dockerfile
                  push: false
                  tags: dinendy/delight:pr-${{ github.head_ref }}-${{ github.sha }}
